
@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Bebas+Neue&family=Work+Sans:ital,wght@0,100;0,200;0,400;0,500;0,600;1,100;1,200;1,500;1,600&display=swap');
* {
    box-sizing: border-box; 
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Azeret Mono', monospace;
    font-size: 16px;
    background-color: #14213d;
    overflow-x: hidden; /* Hide horizontal scrollbar */
    -ms-overflow-style: none;
    scrollbar-width: none;
}

body::-webkit-scrollbar {
    display: none;
}

nav {
    width: 100%;
    height: 10vh;
    background-color: #000000;
    color: #ffffff;
    font-weight:bolder;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2em 8%;
    font-family: 'Azeret Mono', monospace;
}

.nav-buttons {
    position: relative;
    display: inline-block;
}

a.nav-buttons {
    color: #ffffff;
    border-radius: 10px;
    text-decoration: none;
}

h1, a, a:hover, a:active {
    color:#fca311;
}

.my-name h6 {
    text-align: left;
    font-size: 2rem;
    color: #fca311;
}

#welcome-page {
    padding: 15% 8%;
    height:100vh;
    color: #ffffff;
    display: grid;
    grid-template-rows: auto auto;
}

.greeting {
    height: 50%;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 1fr;
    grid-column-gap: 30px;
    grid-row-gap: 5px;
    align-items: center;
    justify-items: start;
}

#me {
    grid-row:1/-1;
    grid-column: 1/2;
    height: auto;
    width: 100%;
    object-fit: fill;
    border-radius: 50%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    place-self: center;
    max-height: 400px;
    max-width: 400px;
    min-height: 150px;
    min-width: 150px;
}

.welcome-text {
    grid-column: 2/-1;
    grid-row: 1/2;
    align-items: end;
    padding: 0 0 5px;
}

.io-academy {
    text-decoration: none;
    color:#fca311;
}

.cv a {
    grid-column: 2/-1;
    grid-row: 2/-1;
    color: #000000;
    background-color: #fca311;
    text-decoration: none;
    border-radius: 25px;
    padding: 0.5rem;
    height: auto;
    align-items: start;
}
.cv a:hover, .cv a:active {
    color: #ffffff;
    text-decoration: none;
}

.down-arrow {
    grid-row: 2/-1;
    justify-self: center;
  }

#about-me {
    grid-column: 2/-1;
    padding:10vh 3%;
    margin: 5%;
    border: 5px solid white;
    color: #ffffff;
    background-color: #00000080;
    border-radius: 25px;
}
.about-content {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-column-gap: 40px;
    color:#ffffff;
}

#portfolio {
    padding:10vh 3% 10%;
    color: #ffffff;
    background-color: #00000080;
    border-radius: 25px;
    border: 5px solid white;
    margin: 5%;
}

.title-info {
    display: flex;
    flex-direction: column;
}

.projects {
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 5%;
    grid-row-gap: 5%;
}

.project-box {
    background-color: #ffffff9f;
    color: #000000;
    padding: 2em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


#contact {
    background-color: #000000;
    padding:10vh 8%;
    display: flex;
    color: #ffffff;
}

.fab, .fas {
    display: flexbox;
    justify-content: space-between;
    width: 1em;
    font-size: 3rem;
    color: white;
}

.fa-envelope-square:hover, 
.fa-envelope-square:active,
.fa-linkedin:hover,
.fa-linkedin:active,
.fa-github-square:hover,
.fa-github-square:active 
{
    color: #fca311;
}

@media only screen and (max-width: 1200px) {
    .projects {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    #welcome-page {
        padding: 25vh 8% 0;
        height: 60%;
    }

    .project-box {
        margin: 2% 0;
    }

    .project-box img {
        height: auto;
        width: 100%;
        object-fit: fill;
    }
}

@media only screen and (max-width: 800px) {
    
    .my-name h6 {
        font-size: 0.8rem;
    }

    a.nav-buttons {
        font-size: 0.8rem;
    }

    #welcome-page {
        padding: 25vh 8% 0;
        height: 60%;
    }

    .greeting {
        display:grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto;
        grid-row-gap: 40px;
        align-items:center;
        justify-items: start;
    }

    #me {
        grid-row:1/2;
        grid-column: 1/2;
        width: 70%;
        padding-bottom: 10px;
        max-height: 250px;
        max-width: 250px;
        box-shadow: none;
    }

    .welcome-text {
        grid-row: 2/3;
        grid-column: 1/2;
        font-size: 1rem;
    }

    .cv a {
        grid-row: 3/-1;
        grid-column: 1/2;
    }

    .down-arrow {
        display: none;
      }

    #about-me {
        grid-column: 2/-1;
        padding: 2vh 3%;
        margin: 5%;
        border: 5px solid white;
        color: #ffffff;
        background-color: #00000080;
        border-radius: 25px;
    }

    .about-content {
        display: grid;
        grid-template-columns: auto;
        grid-column-gap: 40px;
        color:#ffffff;
    }
    .about-content img {
        place-self: center;
    }

    #portfolio {
        padding: 2vh 3%;
    }

    .projects {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .project-box {
        margin: 2% 0;
    }

    #contact {
        width: 100%;
        padding: 2vh 8%;
        display: flex;
        font-size: 0.8rem;
    }
  }